element.style {
}
.platform-btns-wrap .platform-btn-container.active span[data-v-2cb0a2ac] {
    color: #efefef;
}
.platform-btns-wrap .platform-btn-container .platform-text[data-v-2cb0a2ac] {
    display: inline-block;
    margin-left: 4px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -.2px;
    color: #586a85;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}
html, main {
    -ms-overflow-style: none;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
html {
    font-family: -apple-system,sans-serif,Dotum,NotoSansKR,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,Helvetica,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: #101322;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
