/* 기존 폰트*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

/* 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* { font-family: Pretendard, 
    -apple-system, BlinkMacSystemFont, 
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* font-family: 'Poppins', sans-serif */
}

/* body {
    height: 100vh;
    background: white;
} */

.row {
    margin-top: 30px;
}

/* .container {
    margin: 50px auto
} */

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

#forgot {
    min-width: 100px;
    margin-left: 130px;
    text-decoration: none;
    text-align: center;
    
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 0px;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
}

.btn.btn-primary {
    margin-top: 20px;
    border-radius: 15px
}

/* .panel {
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(239, 215, 215);
    border-radius: 12px
} */

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #495FE9
}

/* input[type='text'],
input[type='password'] { */
    #loginId, #loginPwd {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

/* 카카오 간편 로그인*/
#kakao {
    width: 280px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;

}

/* img {
    width: 222px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
} */

a[target='_blank'] {
    position: relative;
    transition: all 0.1s ease-in-out
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative;
    text-align: center;
}

.bordert:after {
    /* content: "or connect with"; */
    color:  #858282;
    content: "다른 서비스 계정으로 로그인";
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: -13px;
    /* left: 33%; */
    left: 25%;
    background-color: #fff;
    padding: 0px 8px
}

.login-box-hd {

    font-family: NotoSans,sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #858282;
    margin-bottom: 0px;
}

.panel {
    width: 450px;

}

.form-group {
    margin-bottom: 0px;
}

.form-inline {
    display: inline-block;
    width: 110px;
    height: 5px;

}

.form-inline label {
    display: inline-block;
}

.mt-3, .my-3 {
    margin-top: 30px!important;
    margin-bottom: 20px;
}

/* 아이디 찾기, 비밀번호 재설정, 회원가입 설정 */
ul.join-find {
    margin: 20px auto 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

ul.join-find li {
    display: inline-block;
    position: relative;
    padding: 3px;


}

ul.join-find li a {
    display: block;
    padding: 10px 5px;
    font-size: 14px;
    color: #8a8989;
    
}

ul.join-find li:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: #a5a5a5;

}