/* 전체 컨테이너 */
#admin_sidebar {  
}


/* 사이드메뉴 폰트 크기 및 옵션*/
#admin_nav_title {
    font-weight: 700;
}
#admin_nav_subtitle{
    font-size: .9em;
    list-style-type: none;
    margin: 8px;
    color: black;
}
#admin_nav_sublist{
    font-size: .85em;
    color: black;
    text-decoration-line: none;
}
#sidebar_col {    
    max-height: 100%;}

/* 메뉴 호버 색상 */
a:hover {color:#495FE9 ;}
#admin_nav_subtitle:hover {color:#495FE9 ;}
ul .card-body {padding: 0px;}

.nav-link {
    padding: 0;
}

/* 네이게이션 줄높이 */
.nav-item li {line-height: 21px;}
ul{list-style:none; padding-left: 3rem; color:#495FE9 ;}
ul li {line-height: 21px;}

/* 아이콘 사이즈 */
svg {width: 21px; height: 21px;}

/* 메인페이지 카드색상 */
.border-left-primary {border-left: 0.25rem solid #4e73df!important;}
.border-left-success {border-left: 0.25rem solid #1cc88a!important;}
.border-left-info {border-left: 0.25rem solid #36b9cc!important;}

/* 게시판 테이블 관련 */
tr {text-align: center; vertical-align: middle;}
td {text-align: center; vertical-align: middle;}


/* 상품관리페이지 관련 */
#admin_goods_imgbox img {width: 50px; height: 50px;}

/* 파이차트 관련 */
#pie_chart {font-size: 1px;}

/* 통계 관련 */
.total_table {display: inline;}