<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.finalproject.voda.mypage.model.mapper.MypageMapper">

	<sql id="contentsSql">
		SELECT C_NO,
			   C_TITLE,
			   C_TYPE,
			   C_GENRE,
			   C_YEAR,
			   C_NATION,
			   C_AGE,
			   C_INFO,
			   C_SYNOP,
			   C_OBIMG,
			   C_BIMG,
			   C_OPIMG,
			   C_PIMG,
			   C_VIDEO,
			   C_DATE
		FROM CONTENTS
		WHERE C_STATUS = 'Y'
	</sql>
	
	<sql id="boardSql">
		SELECT
		    B.B_NO, 
		    M.M_NO, 
		    B.B_TITLE, 
		    B.B_TYPE, 
		    B.B_DATE, 
		    B.B_CONTENT, 
		    B.B_ORIGINAL_FILENAME, 
		    B.B_VIEW, 
		    B.B_STATUS, 
		    B.B_ANSWER_STATUS, 
		    M.M_ID
		FROM BOARD B
		JOIN MEMBER M ON (B.M_NO = M.M_NO)
		WHERE B.B_STATUS = 'Y'
	</sql>	 
	
	<resultMap type="Contents" id="contentsListResultMap">
		<id property="c_no" column="C_NO"/>
		<result property="c_title" column="C_TITLE"/>
		<result property="c_type" column="C_TYPE"/>
		<result property="c_genre" column="C_GENRE"/>
		<result property="c_year" column="C_YEAR"/>
		<result property="c_nation" column="C_NATION"/>
		<result property="c_age" column="C_AGE"/>
		<result property="c_info" column="C_INFO"/>
		<result property="c_synop" column="C_SYNOP"/>
		<result property="c_obimg" column="C_OBIMG"/>
		<result property="c_bimg" column="C_BIMG"/>
		<result property="c_opimg" column="C_OPIMG"/>
		<result property="c_pimg" column="C_PIMG"/>
		<result property="c_video" column="C_VIDEO"/>
		<result property="c_date" column="C_DATE"/>
		<result property="c_status" column="C_STATUS"/>
	</resultMap>

	<resultMap type="Board" id="BoardResultMap">
		<id property="bno" column="B_NO"/>
		<result property="mno" column="M_NO"/>
		<result property="btitle" column="B_TITLE"/>
		<result property="btype" column="B_TYPE"/>
		<result property="bcreatedate" column="B_DATE"/>
		<result property="bcontent" column="B_CONTENT"/>
		<result property="boriginalfilename" column="B_ORIGINAL_FILENAME"/>
		<result property="bview" column="B_VIEW"/>
		<result property="banswerstatus" column="B_ANSWER_STATUS"/>
		<result property="bstatus" column="B_STATUS"/>
		<result property="mid" column="M_ID"/>
	</resultMap>

	<select id="selectLikesCNoList" parameterType="_int" resultType="_int">
		SELECT C_NO FROM LIKES WHERE M_NO = ${mNo}
	</select>

	<select id="selectContentsByCNo" parameterType="_int" resultMap="contentsListResultMap">
		<include refid="contentsSql" />
		AND C_NO = ${cNo}
	</select>

	<select id="selectFreeBoardList" parameterType="_int" resultMap="BoardResultMap">
		<include refid="boardSql" />
		AND M.M_NO = ${mNo} AND B.B_TYPE='FREE'
	</select>
	
	<select id="selectQnaBoardList" parameterType="_int" resultMap="BoardResultMap">
		<include refid="boardSql" />
		AND M.M_NO = ${mNo} AND B.B_TYPE='QNA'
	</select>
	
</mapper>

