    /* 폰트 */
    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    * { font-family: Pretendard, 
        -apple-system, BlinkMacSystemFont, 
        system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; } */

/* @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700;800;900&display=swap');
* { font-family: 'Gothic A1', sans-serif;}  */

* { font-size: 17px;}

    /* 로고 이미지 간격 조절 */
    .logoimg {
        padding-right: 8px;
        width: 200px;
    }

    /* 컨테이너 너비 조절 */
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    } 

    /* 호버 메뉴 밑 선 굵기 */
    .line {
        border: 0;
        background: #ccc;
    }

    /* 메뉴 호버 기능 */
    .dropdown:hover .dropdown-menu {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 2.5%; 
        display: block;
        margin-top: 0;
        border: none;
        /* box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1); */
        /* border-top: none; */
        /* border-bottom: none; */ 
        /* opacity : 0.5; */ 
    }

    /* 드롭다운 메뉴 글자색상 지정 */
    .dropdown-item {
        color: rgba(0, 0, 0, 0.5);
    }

    /* 오른쪽 헤더 메뉴 간격 조정 */
    .right {
        color: rgba(0, 0, 0, 0.5);
        margin-left: 20px;
    }

    #join {
        margin-right: 0px;
    }

    #login {
        margin-right: 16px;
    }

    /* input 돋보기 */
    .search input {
        background-image: 
        url(https://cdn-icons-png.flaticon.com/512/149/149852.png);
        opacity: 0.4;
        padding-left: 40px;
        background-size: 18px;
        background-position: 12px 10px ;
        background-repeat: no-repeat
    } 

    .form-control me-sm-2 {
        width: 200px;
    }

    /* 링크 파랑색 밑줄 효과 삭제 */
    a:link {
        color : black;
        text-decoration: none;
    }

    a:visited {
        color : black;
        text-decoration: none;
    }

    a:hover {
        color : black;
        text-decoration: none;
    }

    a:active {
        color : black;
        text-decoration: none;
    }	

    #footerlogo {
        width: 200px;
    }